.vscode
.pyc
.npy
__pycache__
T1Ar/data/2020/task1/training/*
T1Ar/data/2020/task1/testing/*
T1Ar/nlpir01/resources/*
T1Ar/nlpir01/results/gold/*
T1Ar/nlpir01/results/pred/*
T1Ar/nlpir01/results/T1-AR*


T1En/*
!T1En/nlpir01
!T1En/README_T1En.md
T1En/nlpir01/resources/*
T1En/nlpir01/results/T1-EN*


!.gitkeep