.vscode
.npy
__pycache__
T1Ar/data/2020/task1/training/*
T1Ar/data/2020/task1/testing/*
T1Ar/nlpir01/resources/*
T1Ar/nlpir01/results/gold/*
T1Ar/nlpir01/results/pred/*
T1Ar/nlpir01/results/T1-AR*

T1En/*
!T1En/nlpir01
!T1En/README.md
T1En/nlpir01/resources/*
T1En/nlpir01/results/T1-EN*

T2En/*
!T2En/nlpir01
!T2En/README.md
T2En/nlpir01/results/
T2En/nlpir01/data/

T5En/*
!T5En/nlpir01
!T5En/README.md
T5En/nlpir01/resources/glove.6B.100d.txt
T5En/nlpir01/results/*
!.gitkeep